<div class="container-fluid d-flex align-content-center align-items-center justify-content-center">
    <form class="d-flex flex-column" [formGroup]="quizForm">
        <input type="text" placeholder="Title" formControlName="Name">
        <input type="text" placeholder="Category" formControlName="Category">
        <input type="file" formControlName="Avatar">

        <button class="btn btn-success" (click)="addQuizQuestion()">New question</button>
        <button class="btn btn-success" (click)="save()">Save</button>
    </form>
</div>