<div class="container align-items-center align-content-center" *ngIf="quiz">
    <div>
        <img [src]="quizImageLink()" width="128px" height="128px">
        <br>
        <input type="file" accept="image/*" (change)="handleFiles($event.target.files)">
        <h3>Edit <input type="text" [(ngModel)]="quiz.name" name="name"></h3>
        <h4>Category <input type="text" [(ngModel)]="quiz.category" name="category"></h4>
        <button class="btn btn-primary" (click)="updateQuiz()">Save</button>
    </div>
    <!-- questions -->
    <div class="d-flex flex-wrap">
        <div *ngFor="let question of quiz.quizQuestions"
            class="border rounded p-5 align-items-center align-content-center d-flex"
            style="cursor: pointer; width: 200px;" routerLink="/edit/question/{{question.id}}">
            {{question.text}}
        </div>
    </div>
    <div style="width: 100px; height: 100px; background-color: gray; cursor: pointer;"
        class="d-flex justify-content-center align-items-center" (click)="newQuestion()">
        <h1>+1</h1>
    </div>
</div>