.quiz-box {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    font-size: large;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 50ms;
}

.quiz-box:hover {
    transform: scale(1.1);
}